.div1{
     height:200px;
    width:300px;
    background: blue;
    transition-duration: 3s;

}
.div1:hover{
    height: 400px;
    width: 455px;
    background-color: red;
    
}
img{
    height: 200px;
    width: 300px;
    transition-duration: 3s;

}
img:hover{
    height: 400px;
    width: 600px;
    transform: rotate(360deg);
}