div{
    height: 250px;
    width: 250px;
    margin-left: 15cm;
    margin-top: 5cm;
    background-color: green;
    transition-duration: 5s;
}
div:hover{
    transform: rotate(180deg);
    transform:scale(5);
    transform: translatey(200px);
}